$themes: (
  darkMode : (
    bgThemeColor : #272727,
    bgThemeColor2 : #ff322b,
    textColor : #fff8f0
  ),

  lightMode : (
    bgThemeColor : #ffebb4,
    bgThemeColor2 : #ffa2a2,
    textColor : #000000
  )
);