@use 'mixins' as mix;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root{
    @include mix.styles('darkMode')
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    min-width: 100vh;
    overflow-x: hidden;
    background-color: var(--bgThemeColor);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
