@use 'variables' as vars;

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;

    ul{
        padding: 0;
        display: flex;
        gap: 7em; 
        -webkit-user-select: none;
        user-select: none;
    }

    li{
        list-style: none;
        color: var(--textColor);
    }
}
